.footer {
  // .footer__container
  &__container {
  }

  &_body {
    border-top: 1px solid #000;
    display: grid;
    grid-template-columns: 250px 1fr 290px;
    @include adaptiveValue("padding-top", 80, 30, 1);
    @include adaptiveValue("padding-bottom", 60, 30, 1);
    @include adaptiveValue("column-gap", 80, 0, 1);

    @media (max-width: $md1+px) {
      grid-template-columns: 1fr 290px;
      grid-template-rows: auto auto;
    }
    @media (max-width: $md2+px) {
      display: block;
    }
  }
  &__mine {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: $md1+px) {
      grid-column: span 2;
      @include adaptiveValue("margin-bottom", 40, 30, 1);
    }
  }
  &__logo {
    margin: 0px 0px 0.6 * 1em 0px;
  }

  &__text {
    color: $grayColor;
    line-height: 150%;
    &:not(:last-child) {
      margin: 0px 0px 1em 0px;
    }
  }
}

.footer__contacts {
}
.contacts-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &-item {
    display: inline-flex;
    align-items: center;
    transition: color 0.3s ease 0s;
    line-height: 150%;
    color: $grayColor;
    &::before {
      margin: 0px 8px 0px 0px;
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 16, 10, 1);
    }
    @media (any-hover: hover) {
      &:hover {
        color: $orangeColor;
      }
    }
  }
}

._icon-location {
}
._icon-tel {
}
.footer-menu {
  @media (max-width: $md2+px) {
    @include adaptiveValue("margin-bottom", 40, 30, 1);
  }
}
.menu-footer {
  @media (min-width: $md3+px) {
    display: flex;
  }

  &__column {
    @media (min-width: $md3+px) {
      flex: 0 1 33.333%;
    }
    @media (max-width: $md3+px) {
      @include adaptiveValue("margin-bottom", 30, 15, 1);
    }
  }
  &__titel {
    cursor: default;

    @media (min-width: $md3+px) {
      margin: 0px 0px 0.6 * 1em 0px;
    }
    ._init & {
      display: flex;
      width: 100%;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      @extend ._icon-arrow-down;
      &::before {
        @extend %ic;
        font-size: 12px;
      }
    }
    &._active {
      &::before {
        transform: rotate(-180deg);
      }
    }
  }

  &__list {
    @media (max-width: $md3+px) {
      padding: 15px 0px 0px 0px;
    }
    li {
      a {
        color: $darkColor;
        transition: color 0.3s ease 0s;
        line-height: 120%;
        font-weight: 500;
        @media (max-width: $md3+px) {
          display: none;
        }
        @media (any-hover: hover) {
          &:hover {
            color: $orangeColor;
          }
        }
      }
      &:not(:last-child) {
        margin: 0px 0px 15px 0px;
      }
    }
  }
}

.footer__subscribe {
}
.subscribe {
}
.subscribe__title {
  margin: 0px 0px 0.6 * 1em 0px;
}
.subscribe__form {
  display: flex;
  position: relative;
  .form-error {
    position: absolute;
    margin: 3px 0px 0px 0px;
    left: 12px;
    font-size: 12px;
    color: red;
  }
}
.input {
  width: 100%;
  padding: 12px;
  background-color: #f4f5f7;
  color: #828282;
}
._req {
}
._email {
}
.subscribe__button {
  flex: 0 0 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: $orangeColor;
  transition: background-color 0.3s ease 0s;
  color: #fff;
  margin: 0px 0px 0px 4px;
  @media (any-hover: hover) {
    &:hover {
      background-color: #be825c;
    }
  }
}
._icon-share {
}
