.page {
}
.page__main-slide {
}
.main-slider {
  background-color: #fcf8f3;
}
.main-slider__container {
  position: relative;
  @media (min-width: $md2+px) {
    &::before {
      content: "";
      background: #f9f1e7;
      position: absolute;
      top: 0;
      width: 100vw;
      right: 376px;
      height: 100%;
    }
  }
}

.main-slider__body {
  padding: 140px 0px 0px 0px;
  position: relative;
  z-index: 2;
  @media (max-width: $md2+px) {
    padding: 80px 0px 0px 0px;
  }
  @media (max-width: $md3+px) {
    padding: 50px 0px 0px 0px;
  }
  @media (min-width: $md2+px) {
    display: flex;
  }
}
.main-slider__content {
  flex: 0 0 0.39 * 100%;
}
.content-main {
  position: relative;
  z-index: 5;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(255, 255, 255, 0.72);
  @include adaptiveValue("padding-top", 60, 15, 1);
  @include adaptiveValue("padding-buttom", 60, 15, 1);
  @media (min-width: $md2+px) {
    @include adaptiveValue("padding", 60, 1, 1);
    background-color: rgba(255, 255, 255, 0.9);
    @supports (-webkit-backdrop-filter: blur(31px)) or
      (backdrop-filter: blur(31px)) {
      background-color: rgba(255, 255, 255, 0.72);
      backdrop-filter: blur(31px);
    }
  }
}
.content-main__titel {
  @include adaptiveValue("font-size", 56, 24, 1);
  font-weight: 700;

  line-height: 120%;
  &:not(:last-child) {
    margin: 0px 0px calc(16px / 56px * 1em) 0px;
  }
}
.content-main__text {
  @include adaptiveValue("font-size", 20, 16, 1);
  color: $grayColor;
  font-weight: 500;
  line-height: 150%;
  &:not(:last-child) {
    margin: 0px 0px calc(48px / 20px * 1em) 0px;
  }
}
.content-main__button {
  font-weight: 600;
  background-color: $orangeColor;
  @include adaptiveValue("min-height", 78, 45, 1);
  @include adaptiveValue("font-size", 20, 16, 1);
  @media (any-hover: hover) {
    &:hover {
      background-color: #966749;
    }
  }
}

.main-slider__slider {
  flex: 1 1 auto;
  min-width: 0;
}
.slider-main {
}
.slider-main__controls {
}
.controls-slider-main {
}
.controls-slider-main__ddotts {
}
.controls-slider-main__arrows {
}
.slider-arrows {
}
.slider-arrow {
}
.slider-arrow_prev {
}
._icon-arrow-down {
}
.slider-arrow_next {
}
.slider-main__body {
}
._swiper {
}
.slider-main__slide {
}
.slider-main__image {
}
._ibg {
}
.slider-main__content {
}
.slider-main__title {
}
.slider-main__text {
}
.slider-main__price {
}
._icon-arrow-link {
}
