@font-face {
  font-family: "icons";
  src: url("../../fonts/icons.woff") format("woff"),
    url("../../fonts/icons.ttf#icons") format("woff2");

  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-display: swap;
}

%ic {
  font-family: "icons";

  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
  &::before {
    @extend %ic;
    display: block;
  }
}

._icon-arrow:before {
  content: "\e900";
}
._icon-cart:before {
  content: "\e901";
}
._icon-favorite:before {
  content: "\e902";
}
._icon-arrow-down:before {
  content: "\e903";
}
._icon-location:before {
  content: "\e904";
}
._icon-share:before {
  content: "\e905";
}
._icon-tel:before {
  content: "\e906";
}
